html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.account-container {
    background-image: url("../Images/trees.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
}




.account-box {
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    opacity: .9;
}